* {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    display: table;
    width: 100%;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #3C868E;
}

.contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenu-info-client {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    height: 1em;
}

.titre-info-client {
    padding: 5px;
    font-size: 1.2em;
}

.infos-perso, .liste-rendez-vous {
    width: 100%;
    height: auto;
    padding: 30px;
}

.cta {
    background: linear-gradient(#8E86B5, #ACAEED);
    color: white;
    border-radius: 40px;
    padding : 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border: none;
}

.cta:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
    border: none;
}

.bouton {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.liste-infos-perso {
    display: flex;
    flex-direction: column;
}

.boutons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.rendez-vous {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c7e4fd;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.liste-rendez-vous h2 {
    padding-bottom: 20px;
}

.les-rendez-vous {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 20px;
}

.rendez-vous-detail {
    width: 50px;
    height: 50px;
}

.rendez-vous-infos {
    display: flex;
    flex-direction: column;
}

.contenu-modif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.les-boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detail {
    width: 70%;
    margin: auto;
}

.contenu-detail {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    height: 1em;
}

.titre-detail {
    padding: 5px;
    font-size: 1.2em;
}

header, footer {
    background: linear-gradient(90deg,#3A868F,#7BAFB4);
    color: white;
}

.bootsrap {
    padding-top: 30px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.liens {
    display: flex;
    gap: 20px;
}

.liens a {
    color: white;
    text-decoration: none;
}

.liens a:hover {
    text-decoration: underline;
}

.titreEntreprise {
    padding-top: 20px;    
}

.barre-recherche {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px;
}

.champsRecherche {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.champRecherche {
    width: 100%;
    border-radius: 5px;
    border-color: lightgray;
}

footer {
    display: table-row;
    height: 100px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

#conteneur-index {
    padding-bottom: 30px;
}

.copyright {
    padding: 20px;
}

.aucun-rendez-vous {
    font-size: 1.2em;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.la-recherche {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e1f1ff;
    border-radius: 5px;
    width: 45%;
    padding: 10px;
}

.recherche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.recherche-icone {
    width: 50px;
    height: 50px;
}

.recherche-detail {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    gap: 10px;
}

.cta-rendez-vous {
    background: linear-gradient(#8E86B5, #ACAEED);
    color: white;
    border-radius: 40px;
    padding : 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border: none;
}

.cta-rendez-vous:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
    border: none;
}

.recherche-activite {
    /*display: flex;
    justify-content: space-between;
    flex-direction: row;*/
    font-weight: normal;
    font-size: 1em;
    /*gap: 30px;*/
}

.recherche-titre {
    text-align: center;
    padding-bottom: 20px;
}

.recherche-detail-pro {
    display: flex;
    flex-direction: column;
}

.horaires {
    display: flex;
    flex-direction: row;
}

.horaires-jours, .horaires-plages {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.horaires-jour {
    font-weight: bold;
}

.horaires-jour, .horaires-plage {
    padding-bottom: 5px;
}

.titre-horaire {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.532);
}

.contenu-horaire {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    height: 1em;
    width: auto;
}

.horaire-modif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.titre-detail-horaire {
    padding: 5px;
    font-size: 1.1em;
    padding: 10px;
    vertical-align: middle;
}

.modif-horaires {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.modif-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: auto;
}

.modif-detail-horaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    gap: 10px;
}

.modif-horaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.aucun-horaire {
    width: 180%;
    text-align: center;
    font-size: 1.1em;
}

.detail-pro-rdv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.le-pro-activite {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.le-pro-presentation {
    width: 70%;
    height: 200px;
    padding: 10px;
    background-color: #fcf6ff;
    border-radius: 5px;
}

.le-pro-horaire {
    width: 600px;
    height: 260px;
    background-color: #dafff6;
    padding: 15px;
    border-radius: 10px;
}

.le-pro-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 50px;
    padding-bottom: 30px;
}

.le-pro-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.le-pro-temps {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    gap: 50px;
}

.le-pro-image {
    width: 150px;
    height: 150px;
}

.le-pro-creneaux {
    width: 70%;
    border: 2px #89bfe3 solid;
    border-radius: 15px;
}

.le-pro-creneaux h3 {
    background-color: #89bfe38e;
    border-radius: 10px 10px 0 0;
}

.le-pro-horaire h3, .le-pro-creneaux h3 {
    text-align: center;
    padding-bottom: 5px;
}

.le-pro-horaire .aucun-horaire {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.le-pro-horaire .horaires {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.creneaux-matin, .creneaux-aprem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 10px;
}

.le-creneau {
    background-color: #d3eaf9;
    border-radius: 5px;
    padding: 5px 10px;
    white-space: nowrap;
}

.le-pro-creneaux-contenu {
    width: 500px;
    padding: 5px;
    overflow-x: auto;
}

.creneaux-le-jour {
    font-weight: bold;
}

.le-pro-creneaux .aucun-creneaux {
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.aucun-creneaux {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}

.le-rendez-vous-validation {
    text-decoration: none;
    color: black;
}

.le-creneau .le-rendez-vous-validation:hover {
    font-size: 1.1em;
}

.invisible {
    display: none;
}

.contenu-info-client-presentation {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    height: auto;
}

.contenu-info-client-presentation-modif {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    height: 50px;
}